<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menuMapper">

<select id = "getMenuList" resultType = "blog.vo.MenuVO">
SELECT
mid,
code,
codename,
sort_num,
comments
FROM menu ORDER BY sort_num DESC, code ASC
</select>

<insert id = "insertMenu" parameterType = "blog.vo.MenuVO">
INSERT INTO MENU(code,codename,sort_num,comments,reg_id,reg_dt)
VALUES(
#{code}
,#{codename}
,#{sort_num}
,#{comments}
,#{reg_id}
,now()
)
</insert>

<update id = "updateMenu" parameterType = "blog.vo.MenuVO">
UPDATE MENU SET
codename = #[codename}
,comments = #{comments}
,sort_num = #{sort_num}
WHERE 
code = #{code}
</update>

<delete id = "deleteMenu" parameterType = "blog.vo.MenuVO">
DELETE FROM menu \
WHERE code = #{code}
</delete>

</mapper>
